/*
 * Gazette module
 */
.gazette {
	clear: both;
	padding-left: 240px;
	margin-bottom: 2em;

	background-color: rgba(255, 255, 255, 0.2);
}	
.gazette:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.gazette-figure,
.gazette-main,
.gazette-title {
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.gazette-title,
.gazette-figure,
.gazette-main {
	padding-left: 15px;
	padding-right: 15px;	
}
.gazette-title,
.gazette-main {
	float: left;
	margin-left: -240px;
	width: 240px;
}
.gazette-figure {
	float: right;
	width: 100%;
	margin-bottom: 1.2em;
}
.gazette-figure > img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}
.gazette-figure-caption {
	font-size: 0.928571429em;   /* 14 > 13 */
	line-height: 1.538461538em; /* 20 */
	margin-top: 1em;
}
.gazette-main {
	clear: left; /* to appear below gazette-title */
}

/* single column */
@media only screen and (max-width: 400px) {
	.gazette {
		padding-left: 0;
	}
	.gazette-title,
	.gazette-figure,
	.gazette-main {
		float: none;
		width: auto;
		margin-left: 0;
	}
}

/* full width text and floated figure */
@media only screen and (min-width: 400px) and (max-width: 560px) {
	.gazette {
		padding-left: 0;
	}
	.gazette-title {
		/*
		fits the title into the left side column
		use .gazette-title--wide to override
		*/
		width: 50%;
		margin-right: -15px;
		margin-left: 0;
	}
	.gazette-figure {
		width: 50%;
		margin-left: 15px;
	}
	.gazette-main {
		float: none;
		width: auto;
		margin-left: 0;
	}
}

.gazette-title--wide {
	float: none;
	width: auto;
	margin-right: 0;
	margin-bottom: 0.416666667em;
}







